---

import SEOHead from "@components/SEOHead.astro";
import JsonLd from "@components/JsonLd.astro";
import WhatsAppFloat from "@components/WhatsAppFloat.astro";
import BackToTop from "@components/BackToTop.astro";
import { SITE, type SEOProps } from "@data/site";
import { organizationJsonLd, websiteJsonLd, localBusinessJsonLd } from "@utils/seo";
import "@styles/global.css";

type Props = SEOProps & {
  jsonLd?: Record<string, unknown>[];
};

const { jsonLd = [], ...seoProps } = Astro.props;

// Always include Organization + WebSite + LocalBusiness structured data
const allJsonLd = [organizationJsonLd(), websiteJsonLd(), localBusinessJsonLd(), ...jsonLd];
---

<!doctype html>
<html lang={SITE.language} dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />


    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#dc2626" />
    <meta name="msapplication-TileColor" content="#dc2626" />
    <meta name="msapplication-config" content="/browserconfig.xml" />


    <SEOHead {...seoProps} />


    {allJsonLd.map((data) => <JsonLd data={data} />)}





    <script
      src="https://app.rybbit.io/api/script.js"
      data-site-id="1353eff32e78"
      defer
    ></script>
  </head>

  <body>

    <a href="#main-content" class="skip-link">Saltar al contenido</a>

    <slot />


    <WhatsAppFloat />


    <BackToTop />
  </body>
</html>
